html, body, #viewDiv {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}
#timeSliderDiv {
    position: absolute;
    bottom: 50px;
    left: 50px;
    z-index: 10;
}
.btn {
    position: absolute;
    top: 10px;
    padding: 10px;
    margin: 5px;
    background-color: white;
    border: 1px solid #ccc;
    cursor: pointer;
    z-index: 10;
}
#zoomAccra {
    top: 10px;
    left: 10px;
}
#zoomVancouver {
    top: 10px;
    left: 150px;
}
